<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    
    <h2>User Info</h2>
    {{ user_form.as_p }}
    
    <h2>Profile Info</h2>
    {{ profile_form.as_p }}
    
    <button type="submit" name = "register_btn">Register</button>
</form>

<form method="POST">
    {% csrf_token %}
    {{ login_form.username.label_tag }}
    {{ login_form.username }}
    {{ login_form.password.label_tag }}
    {{ login_form.password }}

    <button type="submit" name="login_btn">Login</button>
</form>